/* --- Global//Reset Styles --- */

body, html {
    background-color: rgb(255,255,255);
    color: rgb(0, 0, 0);
    scroll-behavior: smooth;
    font-family: 'Futura', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Selection Styling */
::selection {
    background-color: #4c00ec;
    color: rgb(255, 255, 255);
}

/* box sizing border-box for all elements */
*,
*::before,
*::after{box-sizing:border-box;}

a{text-decoration:none; color:inherit; cursor:pointer;}
input::-moz-focus-inner {border:0; padding:0; margin:0;}
ul, ol, dd{margin:0; padding:0; list-style:none;}
p{margin:0;}

/* --- Main Styles --- */

h1, h2, h3 {
    /* margin-block-start: 0.83em;
    margin-block-end: 0.83em; */
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 500
}

h1 {
    font-size: 65px;
}

p {
    font-size: 22px;
}


header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

header > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .bottom {
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header .bottom > div{
    width: 150px;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .bottom > a {
    font-size: 20px;
}

/* --- Utilities --- */
.highlight-link {
    position: relative;
    display: inline-block;
    z-index: 2;
    text-decoration: none;
    -webkit-box-shadow: inset 0 -3px 0 4c00ec;
    box-shadow: inset 0px 0px 0 4c00ec;
}

.highlight-link:focus,.highlight-link:hover {
    -webkit-transition: all 1s cubic-bezier(0.42, 0, 0, 0.98);
    transition: all 1.2s cubic-bezier(0.42, 0, 0, 0.98);
    box-shadow: inset 300px 0 0 #4c00ec;
    color: #fff;
}

#resume-link:focus, #resume-link:hover {
    -webkit-transition: all 1s cubic-bezier(0.42, 0, 0, 0.98);
    transition: all 1.2s cubic-bezier(0.42, 0, 0, 0.98);
    box-shadow: inset 100px 0 0 #4c00ec;
    color: #fff;
}


/* --- 404 page --- */

.lost {
	width: 100%;
	height: 100vh!important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0 20px
}

.lost .name {
    position: absolute;
    top: 30px;
    left: 35px;
    font-weight: 700;
    color: #BA3F1D;
    font-size: 22rem;
}

.lost h1{
    font-size: 50rem;
    margin: 15px 0;
    font-weight: 700;
}

.lost h2 {
    font-size: 35rem;
    font-weight: 600;
}

@media screen and (max-width:480px) {
	.lost h2 {
		font-size: 25rem
	}
}

@media screen and (max-width:360px) {
	.lost h2 {
		font-size: 20rem
	}
}

.lost a {
    font-weight: 700;
    color: #BA3F1D !important;
    position: relative;
    display: inline-block;
}

.lost a:after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 3px;
	background: #BA3F1D;
	content: '';
	opacity: 0;
	-webkit-transition: height .3s,opacity .3s,-webkit-transform .3s;
	transition: height .3s,opacity .3s,-webkit-transform .3s;
	transition: height .3s,opacity .3s,transform .3s;
	transition: height .3s,opacity .3s,transform .3s,-webkit-transform .3s;
	-webkit-transform: translateY(-12px);
	transform: translateY(-12px)
}

.lost a:focus:after,.lost a:hover:after {
	height: 3px;
	opacity: 1;
	-webkit-transform: translateY(-4px);
	transform: translateY(-4px)
}